{% extends "layout.html" %}

{% block page_title %}
  Roadmap Prototype: Fresh Start"
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Fresh Start
        <span class="heading-secondary">This is a working prototype for the jobreadiness roadmap.</span>
      </h1>

      <h2 class="heading-medium">
        It is an attempt to design a digital roadmap for navigating government and nonprofits services for re-entrants in Anchorage. 
      </h2>

      <p>
        </p>

        <p><h2 class="heading-medium">The goal of this tool are to:</h2></p>

        <ul class= "list list-bullet"> 
        	<li>Alleviate recidivism and increase successful re-entrants into the workforce pool of job ready workers. </li>
        	<li>Serve the emotional needs of re-entrants who may be frustrated and overwhelmed entering this process. </li>
        	<li>Reduce the demand on case managers to provide common information of document gathering for potential independent job seekers.  

       	</ul> 
     	 
     	    <div class="form-group">
          <a href="/docs/examples/task-list-page"><input class="button" type="submit" value="Start Demo" ></a>
        </div>

      <h2 class="heading-medium">About this prototype</h2>

      <p> This prototype is for demonstrating the idea of a solution to serve a need that has been validated through user testing with Re-Entrants at Partners for Progress (and job seekers and Case Managers from other service providers). </p> 
      <p></p>

    <!--  <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>
      <p>You can change the service name by editing the file '/app/config.js'.</p>-->

			<h2 class="heading-medium">About Code for America &amp; Team Anchorage fellowship</h2>

			<ul class="list list-bullet">
				<li><a href="https://www.codeforamerica.org/government-partners/anchorage-ak">Anchorage, AK is partnering with Code for America to connect job seekers to workforce services</a></li>
				<li><a href="https://github.com/Clorama/FreshStart_Prototype">This prototype on GitHub</a></li>
				<li><a href="https://cfa-muni.tumblr.com">Code for America: Team Anchorage Fellowship Blog</a></li>

			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to Prototype Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


